* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch";
    color: var(--main-text-color);
}

body {
    font-size: 16px;
}

:root {
    --one-color-bg: #3278f6;
    --two-color-bg: #29324e;
    --page-top-height: 30px;
    --header-top-height: 70px;
    --header-bottom-height: 30px;
    --main-text-color: whitesmoke;
    --line-space-color: #2860c5;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

input {
    outline: none;
}

.row-grid {
    display: grid;
    justify-content: space-between;
}

.row-flex {
    display: flex;
    justify-content: space-between;
}

/* Page Top */
.page-top {
    background-color: var(--one-color-bg);
    padding: 5px 0;
}

    .page-top i {
        margin-right: 5px;
    }

    .page-top .row-grid {
        justify-content: end;
        height: var(--page-top-height);
        align-items: center;
    }

    .page-top ul li {
        border-right: 2px solid #2860c5;
        padding: 0 15px;
    }

        .page-top ul li:last-child {
            border-right: none;
            padding-right: 0;;
        }

        .page-top ul li a {
            position: relative;
            font-weight: 600;
            font-size: 15px;
        }

            .page-top ul li a::before {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                bottom: -1px;
                left: 0;
                transition: .5s;
                background: #fff;
            
            }

                .page-top ul li:hover a::before {
                    width: 100%;
                }

/* Header Top */
header {
    background-color: #29324e;
}

.header-top .row-grid {
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 8px 0;

}

.header-top .header-top-logo {
    width: 165px;
    margin: 8px 64px 5px 0;
}

    .header-top .header-top-logo img {
        display: block;
    }

.header-top-search {
    height: 50px;
}

    .header-top-search.row-grid {
        grid-template-columns: 80% 20%;
    }

    .header-top-search input {
        height: 40px;
        padding: 12px;
    }

    .header-top-search button {
        height: 40px;
        background-color: var(--one-color-bg);
        border: none;
        cursor: pointer;
    }

        .header-top-search button i {
            margin-left: 6px;
        }

.header-top-user_cart .row-flex {
    justify-content: flex-end;
}

.header-top-user_cart ul li {
    padding: 0 20px;
}

    .header-top-user_cart ul li:first-child {
        position: relative;
        margin-right: 12px;
    }

        .header-top-user_cart ul li:first-child::after {
            content: "";
            display: block;
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: #ccc;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

    .header-top-user_cart ul li:last-child span {
        padding: 6px;
        background-color: #fb4e4e;
    }

.header-top-user_cart i {
    margin-right: 6px;
}

/* Header Bottom */
.header-bottom .row-grid {
    grid-template-columns: 20% 80%;
    height: var(--header-bottom-height);
    align-items: center;
}

.header-bottom-menubar {
    cursor: pointer;
}

    .header-bottom-menubar span {
        margin: 0px 6px;
    }

.header-bottom-menulist .row-flex {
    justify-content: flex-start;
}

.header-bottom-menulist ul li {
    padding: 0px 10px;
    position: relative;
}

    .header-bottom-menulist ul li::after {
        content: "";
        display: block;
        position: absolute;
        width: 1.5px;
        height: 50%;
        background-color: #545b71;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .header-bottom-menulist ul li a {
        position: relative;
        font-weight: bold;
    }

        .header-bottom-menulist ul li a::after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #fff;
            bottom: -3px;
            transition: 0.5s;
        }

            .header-bottom-menulist ul li:hover a::after {
                width: 100%;
            }

/*  */
.swiper-slide {
    cursor: pointer;
}

.banner-sale {
    margin: 32px 0;
}

.box-thumb {
    margin: -55px 0 40px 0 ;
}